<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>  
  <body>
    <center>
      <br>
      <font size="+2" color=0000CC> 
      	{% if user_name == 'false' %}
      		Items in Temporary Cart 
      	{% else %}
      		Items in {{user_name}}'s Cart
      	{% endif %}
      </font>
      <br><br>
    </center>   
        
    {% if checkout == 'true' %}
    	<hr>
    	<blockquote> Order confirmed! </blockquote>
    {% endif %}    
    
    <hr>	
	<form action="/cart-operations" method="post"> 
	<table border="0">
    {% for greeting in cart %}
		<tr><td>{{ greeting.content }}, by {{ greeting.author}},  ${{greeting.price}} &nbsp;&nbsp;</td><td> <button type="submit" name="remove" value="{{greeting.id}}">remove</button></td></tr>
    {% endfor %}	
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr><td> Total: {{total}} </td>
	<td><button name="checkout" value="checkout" type="submit">Checkout</button></td>
	</tr>
	</table>
	</form>		
	
  <br><br>
  <center>
    <a href=.> Go back to main page </a>
  </center>
  </body>
</html>
{% endautoescape %}
