<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>  
  <body>
    <center>
      <br>
      <font size="+2" color=0000CC> Search Page </font>
      <br><br>
    </center>
    <hr>
    {% set foobar = {'value': False} %}   
    {% for greeting in greetings %}
	{% if author|lower in greeting.author|lower %} 
     		 <blockquote>{{greeting.content}}, {{greeting.author}}</blockquote>
		{% if foobar.update({'value': True}) %}
		{% endif %}
	{% endif %}

    {% endfor %}
    {% if foobar['value'] == False%}
	<blockquote>No results</blockquote>
    {% endif %}

    {% if author == "" %}
	<blockquote>Empty author name</blockquote>
    {% endif %}
    {% if genre == "" %}
        <blockquote>Empty genre name</blockquote>
    {% endif %}

    <form action="/search?genre={{genre}}?author={{author}}" method="get">
      <div>
	<label for="author">Author's Name:</label>
	<input value="Author's name" type="text" name="author" /> </div>
     
   

    <hr>

   <div>
      <input value="Non-fiction" name="genre">
      <button type="submit">search</button></div>
    </form>
<ul>
<li> <a href=/>go back</a>
</ul>

	  </body>
</html>
{% endautoescape %}
