<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function validateForm()
    {
    var a=document.forms["Form"]["author"].value;
    if (a==null || a=="" || a=="qweqweqwe")
      {
      alert("Please Fill All Required Field");
      //return false;
      }
    }
	
    </script>

  </head>  
  <body>
    <center>
      <br>
      <font size="+2" color=0000CC> Search Page </font>
      <br><br>
    </center>
    <hr>


    {% set foobar = {'value': False} %}   
    {% for greeting in greetings %}
	{% if author|lower in greeting.author|lower and author!="" %} 
     		 <blockquote>{{greeting.content}}, by {{greeting.author}}, ${{greeting.price}}</blockquote>
		{% if foobar.update({'value': True}) %}
		{% endif %}
	{% endif %}

    {% endfor %}

	{% if author==null or author=="" or author=="qweqweqwe" %}
		<blockquote>Please type in the name of the author</blockquote>
	{% endif %}
    {% if foobar['value'] == False%}
	<blockquote>No results</blockquote>
    {% endif %}




    <form action="/search?genre={{genre}}?author={{author}}" name="Form" method="get">
      <div>
	<label for="author">Author's Name:</label>
	<input value="" type="text" name="author" /> </div>
   

    <hr>
	 <select name="genre" onchange="validateForm();this.form.submit();">
	<option value="">Select Genre to search</option>
 	 <option value="Non-fiction">Non-fiction</option>
	  <option value="Mystery">Mystery</option>
	  <option value="Fiction">Fiction</option>
	</select> 
	<noscript><input type="submit" value="Submit"></noscript>

    </form>

<li> <a href=/>go back</a>
</ul>

	  </body>
</html>
{% endautoescape %}
